body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    image-rendering: auto;
}
h1{
    color: rgb(219, 18, 192);
    font-size: 32px;
    text-align: left;
}
h2 {
    color: rgb(129, 82, 39);
    font-size: 20px;
    text-align: left;
}
h3 {
    color: rgb(255, 51, 0);
    font-size: 22px;
    text-align: left;
}
p {
    color: rgb(151, 106, 106);
    font-size: 16px;
    text-align: left;
}  
div {
    background-color: rgb(194, 123, 123);
    width: auto;
    padding: 6px;
  height: 110px;
  height: auto;
    width: 400px;
    text-align: top left;
    border: 6px solid rgb(182, 158, 158);
}
li {
    color: rgb(22, 64, 155);
    font-size: 14px;
    list-style-type: square;
}
span {
    color: rgb(255, 0, 0);
    font-size: 16px;
    text-align: left;
}
table.tabla-personalizada {
   font-size: 18px;
   font-weight: bold;
   margin-bottom: 10px;
   caption-side: top;
   border: 1px solid rgb(0, 0, 0);
   border-collapse: collapse;
}
th {
    background-color: rgb(255, 204, 0);
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: left;
    border: 1px solid rgb(0, 0, 0);
}
td {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
    text-align: left;
}